* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-principal: "Poppins", Helvetica, sans-serif;
  --cor-texto: #333;

  --cor-preto: #111;
  --cor-branco: #fcfcfc;
  --cor-vermelho: #EC3839;

  --degrade-vermelho: linear-gradient(-90deg, #EC3839, #961313);

  --cor-background-qbranco: #f5f5f5;
  --cor-background-qbranco1: #dbdbdb;
  --cor-background-qpreto: #333;

  
}

.p1 {
  font-size: 14px;
  color: #858585;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

html, body {
  height: 100%;
}

body {
  font-family: var(--font-principal);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img, video {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}