.nav {
    display: flex;
    background: linear-gradient(135deg, #e40000 0%, #8b0000 100%);
}

.nav .lista-nav {
    display: flex;
    gap: 50px;
    color: #fff;

    list-style: none;
}

.nav li {
    padding: 10px 0;
}