/**********/
/* HEADER */
/**********/


.header {
    padding: 25px 0;
    background-color: var(--cor-background-qpreto);
    color: #fff;
}

#header .interface {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 150px;
}

.container-usuario {
    display: flex;
}

.card-usuario {
    display: flex;
}

.img-usuario {
    display: flex;
    align-items: center;
}

.img-usuario img {
    max-width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.header .txt-usuario {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header .txt-usuario p,
.header .txt-usuario h3 {
    font-size: 14px;
    margin-bottom: -7px;
}

.txt-usuario a {
    font-size: 14px;
}

/*******/
/* NAV */
/*******/

.nav {
    display: flex;
    background-color: #bd0909;
}

.nav .lista-nav {
    display: flex;
    gap: 50px;
    color: #fff;

    list-style: none;
}

.nav li {
    padding: 10px 0;
}